@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin:0px;
  border: 0px;
  padding: 0px;
  padding-top:0px;
}  
  
  
body{
font-family: "DM Sans", sans-serif;
  color:white;
}

/*
nav{
  background-color: #2e9ca7
}
*/









#PresentacionViajes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 2rem 2rem;
}

#cuadroceleste{
  background-color: #2e9ca7;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

i{
  font-size: 25px;
  color: white;
  
}

hr{
  color: rgb(73, 73, 73);
}

#SectionDestacados{
  background-color: black;
  
}
#destacados{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 2rem 0rem 0rem 0rem;
}
#cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0rem 3rem;
  gap: 2rem;
  background-color:black;
}


.card{
  background-color: #2e9ca7;
  color: white;
}

#FormularioViajes{
  background-color: black;
}



#contacto{
  text-align: center;
  padding-top:3rem;
}


#divcontenedorformulario{
  padding: 0rem 3rem 2rem;
  
}

footer{
  background-color:#2e9ca7;
  
}

#divcontenedorfooter{
  display: flex;
  justify-content: center;
  align-items: right;
  gap:15rem ;
  padding: 1rem 1rem;
}

.btn {
  background-color: #2e9ca7;
}


html {
  scroll-behavior: smooth;
}